# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a
*.lib

# Executables
*.out
*.app

*/rootfs/
**/cross-pi-gcc/
*/build/
*/buildstm/
**/build
**/buildstm
**/rootfs
**/old
*.gz
install
bin
tools